
RewriteEngine On
RewriteBase /

DirectoryIndex index/index.php

ErrorDocument 403 /index/index.php
ErrorDocument 404 /index/index.php
ErrorDocument 500 /index/index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index/index.php [L]
